@inherits LayoutComponentBase

<FluentTooltipProvider/>
<FluentDialogProvider/>
<FluentToastProvider/>
<FluentMessageBarProvider/>
<FluentMenuProvider/>

<div class="page">
    <header>
        <NavMenu/>
    </header>

    <main>
        <article class="content px-3">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    Un error no esperado a ocurrido.
    <a href="" class="reload">Recargar</a>
    <a class="dismiss">🗙</a>
</div>